/*=============================================
=            2. Top Bar            =
=============================================*/
#topBar {
  display: flex;
  font-size: 0.75rem;
  width: 100%;
  padding: 0.625rem 0;
  border-bottom: 1px solid $border-color;
  font-family: $primaryfont;
  color: $text-color;
  justify-content: center;
  align-items: center;

  & .phone span,
  & .mail span {
    color: $text-color;
    font-weight: 500;
    letter-spacing: 0.0625rem;
  }

  & .phone i,
  & .mail i {
    color: $link;
    margin-right: 0.8rem;
  }

  & .social-links a {
    margin: 0 0.8rem;
    color: $text-color;
  }

  & .social-links a i:hover {
    color: $link;
    transition: all 0.5s;
  }
}

/*=====  End of 2. Top Bar  ======*/
/*=============================================
  =            3. Navb Bar            =
  =============================================*/
#navBar {
  position: relative;
  font-size: 0.875rem;
  padding: 1.875rem 1rem;
  background: $white;
  font-weight: 500;
  box-shadow: 0px 2px 13px 0px rgba(222, 222, 222, 0.5);

  .navbar-brand img {
    display: block;
    width: 140px;
  }

  & .nav-item {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  & .btn-custom {
    background: $link;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;

    & a {
      color: #fff;

      & i {
        margin-right: 0.4rem;
      }
    }
  }
}

/*=====  End of 3. Navb Bar  ======*/

/*=============================================
  =            3.0 sideNabBar            =
=============================================*/
#sideNav {
  & .sideoverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
}

#sidenavBar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  background: #f2f2f2;
  padding: 20px;
  width: 240px;
  height: 100vh;

  & .sidenav-title {
    color: $text-color;
    font-weight: 600;
    font-family: $primaryfont;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    padding-bottom: 2rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  & .sidenav-list {
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    & li a {
      padding-left: 1rem;
      color: $text-color;
      font-size: 1rem;
      font-family: $primaryfont;
    }
  }
}

/*=====  End of 3.0 sideNabBar  ======*/
/* =============================================
=            5. Footer            =
============================================= */
#footer {
  & .footer-wrapp {
    background: $footerbg;
    color: #fff;
    padding: 5rem 0;

    .footer-title {
      img {
        width: 250px;
        margin: 1.5rem 0;
      }

      h2 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        margin: 1.5rem 0;
      }
    }

    & .footer-title h3 {
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      margin: 1.5rem 0;
    }

    & p {
      font-weight: 500;
      font-size: 1rem;
      opacity: 0.8;
      margin-bottom: 1rem;
    }

    & form {
      & input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      & button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        cursor: pointer;
      }
    }

    & .footer-link {
      list-style: none;

      & li {
        padding: 0.5rem 0;
        transition: all 0.5s linear;

        & a {
          color: #fff;
          opacity: 0.5;
          font-weight: 0.875rem;

          & i {
            margin-right: 0.5rem;
          }
        }

        &:hover {
          transform: translateX(8px);

          & a {
            opacity: 1;
          }
        }
      }
    }

    & .footer-social-links {
      list-style: none;
      display: flex;

      & li {
        margin-right: 1rem;

        & a i {
          justify-content: center;
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          background: #495057;
          border-radius: 50%;
          font-size: 0.875rem;
          color: #fff;
        }
      }
    }
  }

  & .bottom-footer {
    background: $bottombg;
    padding: 1rem 0;

    & p {
      text-align: left;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      font-family: $primaryfont;
      opacity: 0.5;
    }
  }
}

/* =====  End of 5. Footer  ====== */