{% extends 'inc/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
	.page-header {
		margin: 2rem 0;
	}

	.page-content {
		padding: 4rem 0;
	}
</style>
<section class="page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Hamro Job</h1>
			</div>
		</div>
	</div>
</section>
<section class="page-content">
	<div class="container">
		<div class="row">
			<h3>Sorry!!! Company cannot apply for this Post</h3>
		</div>
	</div>
</section>
{% endblock %}
{% block title%}Hamro Job{% endblock %}