{% extends 'inc/base.html' %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}
<style>
	.page-heading {
		margin: 2rem 0;
	}

	.page-content {
		padding: 4rem 0;
	}

	.dashboard-link ul li a {
		color: #2c3e50;
	}

	.dashboard-link ul li a:hover {
		color: #1abc9c;
		cursor: pointer;
	}
</style>
<section class="page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Company dashboard</h2>
			</div>
		</div>
</section>
<section class="page-content">
	<div class="container">

		<div class="row dashboard-link">
			<div class="col-sm-4">
				<ul class="list-group">
					<li class="list-group-item"><a href="{% url 'addvacancy' %}">Add vacancy</a></li>
					<li class="list-group-item"><a href="{% url 'allvacancy' %}">View all vacancy</a></li>
					<li class="list-group-item"><a href="{% url 'updatecompany' %}">Company Update</a></li>
				</ul>
			</div>
			<div class="col-sm-4"></div>
		</div>
</section>
{% endblock %}
{% block title%} company dashboard {% endblock %}