{% extends 'inc/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
  .page-content {
            padding: 4rem 0;
          }
        
          .dashboard-link ul li a {
            color: #2c3e50;
          }
        
          .dashboard-link ul li a:hover {
            color: #1abc9c;
            cursor: pointer;
          }
          .form-update-company{
            display: flex;
            flex-direction: column;
          }
          .form-update-company input{
            margin-bottom: 1rem;
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
        </style>
<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url 'dashboards' %}"> Company Dashboard</li>
          <li class="list-group-item"><a href="{% url 'addvacancy' %}">Add vacancy</a></li>
          <li class="list-group-item"><a href="{% url 'allvacancy' %}">View all vacancy</a></li>
          <li class="list-group-item"><a href="{% url 'updatecompany' %}">Company Update</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <form method='POST' action="{% url 'updatecompany'%}" class="form-update-company">
          {% csrf_token %}
          {{form.as_p}}
          <button type='submit' class="btn btn-primary">update</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block title%} Update Company {% endblock %}